.home {
  height: 100vh;
  color: #2f2f2f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__name {
    display: block;
    // font-size: 9vw;
    font-size: 10rem;
    padding-bottom: 2rem;
    text-transform: capitalize;
  }

  &__role {
    display: block;
    // font-size: 2vw;
    font-size: 3rem;
    text-transform: capitalize;
    padding-bottom: 2rem;
  }

  &__socials {
    list-style-type: none;
    display: flex;
    left: 2rem;
    bottom: 2rem;
    ion-icon {
      // font-size: 2vw;
      font-size: 3rem;
      color: #2f2f2f;
      &:hover {
        color: #9c8cae;
      }
    }
  }
}

@media (max-width: 700px) {
  .home {
    &__name {
      font-size: 5rem;
    }
    &__role {
      font-size: 2rem;
    }

    &__socials {
      ion-icon {
        font-size: 2rem;
      }
    }
  }
}
