.item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  padding-bottom: 3rem;

  &__title {
    font-size: 2rem;
  }
  &__subtitle {
    font-size: 1.5rem;
  }
  &__descriptions {
    padding-top: 1.5rem;
    list-style-type: none;
    &-item {
      margin-bottom: 1rem;
    }
  }
}
