.navbar {
  color: #2f2f2f;
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0;

  &__list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
  }

  &__item {
    flex-grow: 1;
    background-color: #e9e5e1;
    text-align: center;
    &:not(:last-child) {
      border-right: 1px solid #2f2f2f;
    }
    border-bottom: 1px solid #2f2f2f;
    &:hover {
      border-bottom: 1px solid #9c8cae;
    }
    &:hover,
    & a {
      color: #9c8cae;
    }
  }

  &__link:link,
  &__link:visited {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding: 1.5rem;
  }
}
