.project {
  margin: 0 auto;
  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    // grid-template-rows: auto;
    padding-top: 6rem;
    gap: 2rem;
  }
}
